@tailwind base;
@tailwind components;
@tailwind utilities;

.react__slick__slider__parent {
  position: relative;
}

.react__slick__slider__parent .slick-prev,
.react__slick__slider__parent .slick-next {
  position: absolute;
  top: 50%;
}
.react__slick__slider__parent .slick-prev {
  color: black;
  z-index: 1;
}
.react__slick__slider__parent .slick-next {
  border-radius: 50%;
  color: black;
  z-index: 1;
}

.react__slick__slider__parent .slick-prev:before,
.slick-next:before {
  color: black;
}

.blog-content p {
  margin-top: 0.5rem;
}

.avatar {
  position: relative;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  vertical-align: top;
  object-fit: cover;
  max-width: 100%;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
